dist
lib
node_modules/
npm-debug.log
docs/commands/**/*.md
src/**/*.map
test/*.js
test/*.map
test/**/*.map
test/end-to-end/**/__pycache__/
test/end-to-end/**/bin/
test/end-to-end/**/obj/
test/end-to-end/**/*.class
test/end-to-end/**/*.csproj
test/unit/**/*.js
util/*.js
util/*.map
util/**/*.js
util/**/*.map

# Language testing will often add these unnecessary files
*.nuspec
.pyc
Gemfile
pom.xml
requirements.txt
src/**/*.cs
src/**/*.budgie
src/**/*.java
src/**/*.js
src/**/*.rb
src/**/*.php
src/**/*.py
