dist
lib
node_modules/
npm-debug.log
test/*.js
test/*.js.map
test/**/*.js.map
test/unit/**/*.js
util/*.js
util/*.js.map
util/**/*.js
util/**/*.js.map

# TS-GLS testing will often add these unnecessary files
*.nuspec
Gemfile
pom.xml
requirements.txt
src/**/*.cs
src/**/*.gls
src/**/*.java
src/**/*.js
src/**/*.rb
src/**/*.py
